* {
  padding: 0;
  margin: 0;
}

/* Container.jsx file */

.container {
  font-family: sans-serif;
  padding: 2rem;
}

.mainContainer {
  background-color: aqua;
}

.countdown {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 1rem;
  padding: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.countdown--content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-transform: uppercase;
  width: fit-content;
}

.countdown--timers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  width: fit-content;
}

.countdown-numbers {
  font-size: x-large;
}

.countdown__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.countdown__buttons button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.countdown__buttons button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}